node_modules
.env
.secret
coverage
coverage.json
out/
cache/
types/
dist/
forge-cache/
typechain-types
typechain
typings
yarn-error.log

#Hardhat files
cache
artifacts
artifacts-filtered
account-abstraction
scw-contracts

